* {
  background-color: lightpink;
}

.year {
  color: #49fadff3;
}

.title {
  text-align: center;
  font-size: 5rem;
}

.countdown,
.completed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 3rem;
}

.form {
  text-align: center;
  margin-top: 5rem;
}

.dateBox {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid black;
  width: 20rem;
  max-width: 100%;
}

.form button {
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px Solid black;
  background-color: #ffb6c1;
  color: black;
  border-radius: 12px;
  margin-left: 1rem;
}

.form button:hover,
button:active {
  background-color: #b6fff4;
  border-color: #b6fff4;
}
